<div class="row">
  <div id="tag_feed" class="col">
    <h2>Tags</h2>
    <%= render 'tags/index', tags: @tags %>
  </div>

  <div id="item_feed" class="col">
    <h2>Products</h2>
    <% if @products.empty? %>
      <span>No products, navigate to <%= link_to 'products page', products_path() %> to add some.</span>
    <% end %>
    <%= render 'products/index', products: @products %>
  </div>
</div>
